.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px 32px 0px;
  gap: 50px;
  flex-grow: 1;
}

.header-nav__container {
  display: flex;
  align-items: center;
}
